<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/css/Menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/Login.css}"/>
    <link rel="stylesheet" th:href="@{/css/Main.css}"/>
</head>
<body>

<!-- start menu balk-->
<div id="menu-nav">
    <div id="navigation-bar">
        <ul id="nav">
            <li><a th:href="@{/}">Home</a></a></li>
            <li><a th:href="@{/userInfo}">Login</a></li>
            <li><a th:href="@{/userInfo}">User page</a></li>
            <li><a th:href="@{/admin}">Admin page</a></li>
            <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</div>
<!-- end menu balk-->

<div id="textSorry" th:if="${message != null}" th:utext="${message}"> </div>
<!--<div id="tekst"> th:if="${userInfo != null}" th:utext="${userInfo}"></div>-->
</body>
</html>