<!DOCTYPE html>
<html>
<head>
    <title>LoginChat</title>
    <link href="/css/Main.css" rel="stylesheet" />
    <link href="/css/Menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/chat.css"/>
</head>
<body>

<!-- start menu balk-->
<div id="menu-nav">
    <div id="navigation-bar">
        <ul id ="nav">
            <li><a href="/"><span class id="Home">Home</span></a></li>
            <li><a href="/dashboard.html"><span class id="Dashboard">Dashboard</span></a></li>
            <li><a href="/login"><span class id="login">Login</span></a></li>
            <li><a href="/letsmeet"><span class id="chat">Chat</span></a></li>
        </ul>
    </div>
</div>
<!-- end menu balk-->

<div id="login-container">
    <h1 class="title">Enter your username</h1>
    <form id="loginForm" name="loginForm" method="POST">
        <input type="text" name="username"/>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>