<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>          
    <title>Logout</title>
    <link rel="stylesheet" th:href="@{/css/Menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/Login.css}"/>
    <link rel="stylesheet" th:href="@{/css/Main.css}"/>
</head>
<body>

<!-- start menu balk-->
<div id="menu-nav">
    <div id="navigation-bar">
        <ul id="nav">
            <li><a th:href="@{/}">Home</a></a></li>
            <li><a th:href="@{/userInfo}">Login</a></li>
            <li><a th:href="@{/userInfo}">User page</a></li>
            <li><a th:href="@{/admin}">Admin page</a></li>
            <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</div>
<!-- end menu balk-->
      
<div id="textSorry">You are logged out succesfully! <BR>
    <BR>
    Click <a th:href="@{/userInfo}">here</a> to login again or go <a th:href="@{/}">home</a>. </div>
<div id="loginContainer">
    <div th:if="${#request.getParameter('error') == 'true'}"> Login Failed!<br/>
        Reason : <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                       th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"> Static summary </span> </div>
</div>
<div class="container">
    <section id="content">
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <h1>Login Form</h1>
            <div>
                <input type='text' name='username' value='' id="username">
            </div>
            <div>
                <input type='password' name='password' id="password"/>
            </div>
            <div>
                <input name="submit" type="submit" value="submit"/>
                <div> Remember Me?
                    <input type="checkbox" name="remember-me"/>
                </div>
                <!--                <a href="#">Lost your password?</a> <a href="#">Register</a></div>-->
            </div>
        </form>
    </section>
</div>
   
</body>    
</html>