<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You are logged in</title>
    <link rel="stylesheet" th:href="@{/css/Menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/Login.css}"/>
    <link rel="stylesheet" th:href="@{/css/Main.css}"/>
    <link rel="stylesheet" th:href="@{/css/Chat.css}"/>
    <link rel="stylesheet" th:href="@{/css/Dashboard.css}"/>

    <!--    <script type="text/javascript" th:src="@{/js-source/Chat.js}"></script>-->

    <!--    <script type="text/javascript" th:src="@{/js-source/Dashboard.js}"></script>-->

</head>
<body>
<!-- Include _menu.html -->

<!-- start menu balk-->
<div id="menu-nav">
    <div id="navigation-bar">
        <ul id ="nav">
            <li><a href="/"><span class id="Home">Home</span></a></li>
            <li><a href="/dashboard.html"><span class id="Dashboard">Dashboard</span></a></li>
            <li><a href="/login"><span class id="login">Login</span></a></li>
            <li><a href="/admin"><span class id="admin">Admin</span></a></li>
            <li><a href="#">
                <div class="digital-clock">00:00:00</div>
            </a></li>
        </ul>
    </div>
</div>
<!-- end menu balk-->

<th:block th:include="/_menu"></th:block>

<!--<h2 id="h2">User Info Page</h2>-->

 
<p id="header"> Hello <span th:utext="${#request.userPrincipal.name}">!</span></p>
 
<p id="text"> <b>This page is only visible when you are logged in. </b> </p>

<!--<div id="login-container">-->
<!--    <h1 class="title">Enter your username</h1>-->
<!--    <form id="loginForm" name="loginForm" method="POST">-->
<!--        <input type="text" name="${#request.userPrincipal.name}"></span/>-->
<!--        <button type="submit">Login</button>-->
<!--    </form>-->
<!--</div>-->

<br/>
<br/>
<br>
<br>

<!--<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>-->

<script type="text/javascript" th:src="@{/js-source/Clock.js}"></script>
</body>
</html>
