<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
          <title th:utext="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/Menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/Login.css}"/>
    <link rel="stylesheet" th:href="@{/css/Main.css}"/>
       
</head>
    
   
<body>

<div id="menu-nav">
    <div id="navigation-bar">
        <ul id="nav">
            <li><a href="/"><span class id="Home">Home</span></a></li>
            <li><a href="/dashboard.html"><span class id="Dashboard">Dashboard</span></a></li>
            <li><a href="/welcome"><span class id="login">Login</span></a></li>
            <li><a href="/admin"><span class id="admin">Admin</span></a></li>
            <li><a href="#">
                <div class="digital-clock">00:00:00</div>
            </a></li>
        </ul>
    </div>
</div>

   
      <!-- Include _menu.html -->
      
<th:block th:include="/_menu"></th:block>
 
       
<div id="message">
          <h2>Message : <span th:utext="${message}"></span></h2>

    <p>Hallo test</p>
</div>
       
   
</body>
</html>